<div class="center jumbotron">
  <h1>Welcome to The Beehive</h1>

  <h2>
    Start working together with the other bees!
  </h2>

  <% if !logged_in? %>
    <%= link_to 'Register now!', register_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>

<div>
    <p class='home'> Hosted Projects </p>
      <% @projects = Project.limit(5).order("RANDOM()") %>
      <% @projects.each do |project| %>
      <h3>
        <%= link_to project.name , project_path(project) %>
      </h3>
    <% end %>
</div>
