<% provide(:title, 'Projects') %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">


    </section>
    <h1> Projects: </h1>
    <% @projects.each do |project| %>
      <h4>
        <%= link_to project.name , project_path(project) %>:
        <%= project.description %>
      </h4>

    <% end %>
  </aside>
</div>
<%= link_to 'Back', home_path %>
