body {
	font-family: arial;
	}
header {
	background: #efbd1a;
	padding: 10px;
	border: 3px solid black;
	z-index: 1;
	position:fixed
	width: 100%;
	top: 0;
}
	
p,a {
	font-family:arial;
	padding: 10px;
}
.secondary {
	background: #666;
	color: white;
	padding: 20px;
	margin: 10px;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
}

.float_left{
	float: left;
}

.float_right{
	float: right;
}

.float_center{
    margin: auto;
    width: 50%;
    padding: 0px;
	text-align:center;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
	border: 1px solid black;
    
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: yellow; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	border: 3px solid black;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
	
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.title{
	font-size:30;
}

.div_main {
	margin: auto;
    width: 70%;
    border: 3px solid black;
    padding: 10px;
	height: 100%;
	background: #c19813;
}

.div_secondary {
	margin: auto;
    width: 70%;
    border: 3px solid black;
    padding: 10px;
	height: 100%;
}
