<!DOCTYPE html>
<html>
	<head>
		<title> The beehive</title>
		<link href="../../assets/stylesheets/main.css" rel="stylesheet" type"text/css"/>
		<script>
		function openNav() {
			document.getElementById("mySidenav").style.width = "250px";
		}

		function closeNav() {
			document.getElementById("mySidenav").style.width = "0";
		}
		</script>
	</head>

<body>
	<header>
		<div>
			<nav>	
				<ul>
					<li><img source="" alt="logo"></li>
					<li><a href="#Home"> Home  </a></li>
					<li class="float_center"><h1>The Beehive</h1></li>
					<li class="float_right"><a href="#Register"> Register</a></li>
					<li class="float_right"><a href="#Log_in"> Log In</a></li>
				</ul>
			</nav>
		</div>
	</header>
	

	<div id="mySidenav" class="sidenav">
	  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	  <p>Projects</p>
	  <hr>
	  <a href="#">New Project</a>
	  <a href="#">My Project</a>
	  <a href="#">Projects Funded</a>
	  <a href="#">Favourite Projects</a>
	</div>

	<!-- Use any element to open the sidenav -->
	<span onclick="openNav()"><img source="arrow.jpg" alt="open_sidebar"> </img></span>

	<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
	<div>
		<div class="div_secondary" align="center">
			<h1 style="text-align:left">Register</h1>
				<table width=100% height=100%>
					<tr>
						<td width=50%>
							<form action="/action_page.php">
							  Email:<br>
							  <input type="text" name="email" value="example@a.com">
							  <br>
							  User:<br>
							  <input type="text" name="user" value="user_name">
							  <br>
							  Password:<br>
							  <input type="text" name="password" value="pass">
							  <br>
							  Confirm Password:<br>
							  <input type="text" name="confirm_pass" value="confirm_pass">
							  <br><br>
							  <input type="submit" value="Submit">
							  
							</form> 
					
						</td>	
						<td width=50%>
							<table width=100% height=100%>
								<tr height=20%>
								
								</tr>
								<tr height=80%>
									<p> Terms of Service </p>
									<p> BlaBla BlaBla BlaBla BlaBla BlaBla BlaBla BlaBla BlaBla BlaBla BlaBla BlaBla BlaBla BlaBla BlaBla BlaBla BlaBla BlaBla BlaBla BlaBla BlaBla BlaBla BlaBla BlaBla BlaBla BlaBla BlaBla BlaBla BlaBla BlaBla </p>
									<input type="checkbox" name="tems" value="accept"> I have a read and agree to this tems of service<br>
								</tr>
								
							</table>
						</td>
					</tr>
				</table>
		
		</div>
	</div>
</body>